@media screen and (min-width: 768px) {
  /* Card */
  .card {
    max-width: 750px;
    flex-direction: row;
  }
  .card__image {
    border-radius: 15px 0px 0px 15px;
    height: 320px;
    object-fit: fill;
    width: 40%;
  }
  .card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .card-content-wrapper {
    padding: 40px 35px 0px;
    font-size: 13px;
  }
  .card-content__title {
    font-size: 20px;
    line-height: 28px;
  }
  .card-user-profile-wrapper {
    padding: 10px 35px 20px;
  }
  /* Tooltip */
  .share-tooltip {
    width: 240px;
    transform: translateY(-130%);
    border-radius: 10px;
    height: auto;
    left: 50%;
    padding: 15px 25px;
    justify-content: space-evenly;
    opacity: 1;
  }
  .share-tooltip::after {
    content: "";
    width: 30px;
    height: 15px;
    transform: rotate(0.5turn);
    right: 60px;
    background-color: var(--tooltip-bg-color);
    position: absolute;
    bottom: -13px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .share-tooltip__description {
    text-transform: uppercase;
    color: var(--third-color);
    letter-spacing: 5px;
    font-weight: 500;
    margin-right: 20px;
  }
  .share-tooltip__icon {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .share-tooltip__icon:nth-child(odd) {
    margin: 0px 15px;
  }
  /* Attribution footer */
  .attribution {
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
@media screen and (min-width: 780px) {
  .card__image {
    height: 295px;
  }
}
@media screen and (min-width: 1024px) {
  .share-tooltip {
    left: 62%;
  }
  .share-tooltip::after {
    right: auto;
  }
}
