/* Base styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-family: "Manrope", sans-serif;

  /* Text colors */
  --main-color: hsl(217, 19%, 35%);
  --second-color: hsl(214, 17%, 51%);
  --third-color: hsl(212, 23%, 69%);

  /* Background colors */
  --body-bg-color: hsl(210, 46%, 95%);
  --share-icon-bg-color: hsl(214, 17%, 51%);
  --tooltip-bg-color: hsl(217, 19%, 35%);
}
/* ScreenReader only */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -100000000;
  overflow: hidden;
}

/* Attribution footer*/
.attribution {
  background-color: #f4f4fc;
  font-size: 14px;
  font-family: var(--main-font);
  text-align: center;
  color: var(--main-color);
  padding: 20px;
}
.attribution a {
  color: purple;
  text-decoration: none;
  transition: color 0.5s;
}
.attribution a:hover {
  color: blueviolet;
}
